html,
body {
  scroll-behavior: smooth;
  overflow: hidden;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(
    135deg,
    rgba(117, 58, 136, 1) 0%,
    rgba(203, 43, 94, 1) 0%,
    rgba(117, 58, 136, 1) 100%
  );
  background: -moz-linear-gradient(
    135deg,
    rgba(117, 58, 136, 1) 0%,
    rgba(203, 43, 94, 1) 0%,
    rgba(117, 58, 136, 1) 100%
  );
  background: -ms-linear-gradient(
    135deg,
    rgba(117, 58, 136, 1) 0%,
    rgba(203, 43, 94, 1) 0%,
    rgba(117, 58, 136, 1) 100%
  );
  background: -o-linear-gradient(
    135deg,
    rgba(117, 58, 136, 1) 0%,
    rgba(203, 43, 94, 1) 0%,
    rgba(117, 58, 136, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(117, 58, 136, 1) 0%,
    rgba(203, 43, 94, 1) 0%,
    rgba(117, 58, 136, 1) 100%
  );

  margin: 0;
  padding: 0;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* .bg{
  height: 100%;
  background-attachment: fixed;
  background: linear-gradient( 135deg, rgba(117, 58, 136, 1) 0%, rgba(203, 43, 94, 1) 0%, rgba(117, 58, 136, 1) 100% );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.codeHere {
  margin: 0% 5% 5% 5%;
  padding: 2%;
  border-radius: 0 0 100px 100px;
  background-color: #f0f0f0;
  box-shadow: 10px black;
  border: #ff8cb0 solid 2px;
  border-top: none;
}
/* .leftPart {
  display: table-cell;
  width: 50%;
  text-align: left;
  padding: 5em;
}
.rightPart {
  display: table-cell;
  width: 50%;
  text-align: left;
  border: 1px solid green;
  font-size: x-large;
  padding: 0.5em;
} */
.headerImage {
  top: 0;
  width: 10em;
  height: auto;
}
.nav {
  text-align: center;
  /* transform-origin: left; */
  overflow: hidden;
  background-color: #cacaca;
  border-radius: 100px 100px 0 0;
  border: #ff8cb0 solid 2px;
  border-bottom: none;
  /* width: 100%; Full width */
  margin: 0% 5% 0% 5%;
}

.nav a {
  float: left;
  background-color: transparent;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); */
  margin: 0px 5px 0 5px;
  font-weight: lighter;
  width: auto;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.nav a:first-child {
  margin-left: 50px;
}
.nav .active,
.nav a:hover {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 20px 20px 0 0;
  color: #ff3877;
}
div.scroll {
  margin: 4px, 4px;
  padding: 4px;
  height: 65vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
pre {
  font-size: x-large;
}
.SS {
  width: 50px;
}

#cover {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #753a88; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: block;
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
button {
  transition: 0.1s ease-out;
  background-color: #cb2b5e;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  outline: none;
  border: 2px #753a88;
  color: white;
  margin: auto;
  margin-bottom: 2%;
}
button:hover {
  transition: 0.1s ease-in;
  background-color: #753a88;
  color: rgb(255, 255, 255);
}
header,
footer {
  background: linear-gradient(
    135deg,
    rgba(117, 58, 136, 1) 0%,
    rgba(203, 43, 94, 1) 0%,
    rgba(117, 58, 136, 1) 100%
  );
  color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 10%;
  height: auto;
}
.floatbt {
  overflow: hidden;
  position: fixed;
  right: 10%;
  top: 50%;
  width: 200px;
  padding: 20px;
  font-weight: 900;
  font-size: larger;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}
.floatbt:hover {
  box-shadow: 0px 15px 20px rgba(203, 43, 94, 0.5);
  color: #fff;
  transform: translateY(-7px);
  transform: scale(1.1);
  cursor: pointer;
}
::selection {
  background-color: #ffbadd;
}

/*----------------------------------------*/

input {
  line-height: 25px;
  border-radius: 10px;
  /* border-color: rgb(216, 216, 216); */
  border: 1px solid;
  border-color: #ff8cb0;
  padding: 5px;
}
input:focus {
  outline: none !important;
  outline-offset: 0;
  border: 1px solid #cb2b5e;
  border-radius: 10px;
  padding: 4px;
  line-height: 25px;
  box-shadow: 0 0 10px #ff76a1;
}

/*------------------------------*/
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  background-color: #ffd0df;
  color: #ff3877;
  border-radius: 50%;
}
.tooltiptext img {
  filter: invert(100%);
  max-width: 20%;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  width: inherit;
  background-color: #cb2b5e;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext {
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#bluetooth .tooltiptext {
  width: 100px;
}

/*------------------------------*/

select {
  display: inline;
  border-radius: 10px;
  line-height: 25px;
  border: 1px solid;
  border-color: #ff8cb0;
  padding: 5px;
  background-color: white;
  appearance: none;
}
select:hover {
  cursor: pointer;
}
select:focus {
  outline: none !important;
  outline-offset: 0;
  border: 1px solid #cb2b5e;
  border-radius: 10px;
  padding: 4px;
  line-height: 25px;
  box-shadow: 0 0 10px #ff76a1;
}

/* #bluetooth {
  text-align: center;
} */
#bluetooth img {
  display: inline-block;
}
#bluetooth select {
  display: inline-block;
}

#homeBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  font-weight: lighter;
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%;
  box-shadow: 5px 10px 150px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease 0s;
  width: 50px;
  height: auto;
}
#homeBtn:hover {
  box-shadow: 0px 15px 20px rgba(203, 43, 94, 0.5);
  color: #fff;
  transition: all 0.3s ease 0s;
  transform: translateY(-7px);
  background-color: #000;
}
#homeBtn:hover img {
  filter: invert(100%);
}
#homeBtn img {
  min-width: 100%;
}
#choices {
  text-align: center;
}
.check {
  text-align: center;
  display: none;
  margin-top: 20px;
}

.check-label {
  color: black;
  background-color: rgb(255, 225, 225);
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0 5px 0;
}
.check-label:hover {
  cursor: pointer;
}

#line-follower-check:checked + label {
  color: white;
  background-color: #ff3877;
  /* border: 3px solid rgba(255, 225, 225, 0.3); */
}
#ultrasonic-check:checked + label {
  color: white;
  background-color: #ff3877;
}
#bluetooth-check:checked + label {
  color: white;
  background-color: #ff3877;
}

.radio-label {
  color: black;
  background-color: rgb(255, 225, 225);
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0 5px 0;
}
.radio-label:hover {
  cursor: pointer;
}
#sensors3:checked + label {
  color: white;
  background-color: #ff3877;
}
#sensors5:checked + label {
  color: white;
  background-color: #ff3877;
}
.modal-button-div {
  text-align: center;
}
.modal-buttons {
  display: inline-block;
  margin: auto;
  margin-bottom: 10px;
}

/* #playground {
  display: block;
}
#line-follower {
  display: none;
}
#ultrasonic {
  display: none;
}
#bluetooth {
  display: none;
} */
.hide {
  display: none;
}
.show {
  display: block;
}
